html,
body {
	background-color: lightblue;
	font-size: 100%;
	font-family: 'Exo', sans-serif;
}

header {
	text-align: center;
}

h1 {
	font-size: 120%;
}

p {
	font-size: 110%;
}

main {
	background-color: #EFEFEF;
	margin: auto;
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 12px 25px rgba(0, 0, 0, 0.49), 0 6px 6px rgba(0, 0, 0, 0.53);
	box-sizing: border-box;
	padding: 1.5rem 1.5rem;
}

label {
	font-size: 1rem;
	line-height: 1.25rem;
	padding-top: 5px;
}

fieldset {
	border: 1px solid #CCC;
	border-radius: 5px;
	margin: 0.25rem;
}

.question {
	width: 45%;
	text-align: right;
	display: inline-block;
	padding-right: 0.25rem;
}

.question+.answer {
	display: inline-block;
	width: 50%;
	max-width: 300px;
}

.answer {
	width: 45%;
	height: 1rem;
    margin: 0.25rem 0;
   
}

.choices {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.align-top {
	vertical-align: top;
}

input[type="radio"],
input[type="checkbox"] {
	margin: 6px 3px;
	font-size: 10px;
}

.select {
	padding-top: 2px;
	padding-bottom: 2px;
	margin: 0;
    height: 30px;
}

.textarea {
	min-width: 45%;
	height: 100px;
	padding: 0.2rem;
}

.submit-box {
	display: flex;
	justify-content: center;
	margin: auto;
}

#submit {
	width: 20%;
	margin: auto;
	background-color: lightblue;
	padding: 0.25rem 0.5rem;
	border-radius: 7px;
	font-size: 1rem;
	text-align: center;
	color: black;
	cursor: pointer;
	box-sizing: border-box;
	box-shadow: 0 2px 3px gray, 0 1px 1px gray;
}

#submit:hover {
	background-color: lightgray;
}

footer {
	text-align: center;
	margin-top: 16px;
	background-color: lightblue;
	font-size: 0.75rem;
	color: black;
	padding: 0.4rem;
}

@media screen and (min-width: 600px) {
	html,
	body {
		font-size: 110%;
	}
	h1 {
		font-size: 150%;
	}
	p {
		font-size: 120%;
	}
	main {
		width: 60%;
	}
}